body
{
    font-family: 'Nunito', sans-serif;
    background-color: #f7f5f5;
    color: rgb(17, 17, 17);
}


/* NAVBAR */

.nav-link.active
{
    color: #df1515 !important;
}
.nav-link
{
    color: rgb(238, 225, 225) !important;
    font-size: large;
}

.nav-link:hover
{
    color: #df1515 !important;
}

.navdropright
{
    padding-left: 55px ;
}


.modal-open .blured, .modal-open  .container {
    -webkit-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.font{
    font-family: 'Roboto Condensed', sans-serif;
}

/* BACKGROUND */


.bg-custom
{
    background-color: #121212;
}

.bg-custom2
{
    background-color: #131212;
    color: #cfcccd;
}

.bg-custom3
{
    background-color: #212124;
    color: #eeeeee;
}

.bg-custom3-noletter
{
    background-color: #212124;
}

.btn-custom4
{
    background-color: #403e55;
    color: #eeeeee;
}

.btn-custom4:hover
{
    background-color: #DE030E;
    color: #cfcccd;
}

.btn-custom5
{
    background-color: #504ef4;
    color: #eeeeee;
}



/* COLOR */

.red
{
    color: #d60d17;
}

.black
{
    color: #121212;
}
.black:hover
{
    color: #DE030E;
}

.white
{
    color: #cfcccd;
}

.white:hover
{
    color: #DE030E;
}


/* SPACING */


.espace
{
    margin: 3%;
}

.espace2
{
    padding: 2%;
    background-color: #131212;
}

.espace3
{
    padding: 2%;
    background-color: #212124;
}

.nopadding
{
    padding: 0 !important;
    margin: 0 !important;
}

.sameline
{
    display: flex;
}


/* FONT */


.hand
{
    font-family: 'Estonia', cursive;
    font-size: 3rem;
}

.font-35px
{
    font-size: 35px;
}

.nounderline
{
    text-decoration: none !important
}

/* GOOGLE MAP */



.map-responsive iframe
{
    width: 100%;
    height: 100%;
}

.map-responsive2 iframe
{
    width: 100%;
}

/* IMAGE EFFECT */

.baw
{
    filter: grayscale(100);
}

.baw:hover
{
    filter: grayscale(0);
}

.bordered
{
    border-radius: 5%;
}

.item:hover
{
    filter: brightness(80%);
}

.rounded{
    border-radius: 50%;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 90%;
    min-height: 90%
}

/* BOUTON */


.btn-custom
{
    background-color: #212529;
    color: #cfcccd;
}
.btn-custom:hover
{
    background-color: #DE030E;
    color: #cfcccd;
}

.btn-custom2
{
    background-color: #121213;
    color: #cfcccd;
}

.btn-custom2:hover
{
    background-color: #DE030E;
    color: #cfcccd;
}

.btn-custom3
{
    background-color: #DE030E;
    color: #cfcccd;
}
.btn-custom3:hover
{
    background-color: #121213;
    color: #cfcccd;
}




/* FORMULAIRE */


.container-contact
{
    min-height: 500px;
    padding: 20px;
    display: flex;
}

.container-contact label
{
    margin: 10px 0;
    display: inline-block;
    width: 250px;
}

.container-contact input,
.container-contact select
{
    margin: 10px 0;
    padding: 5px 2px;
    display: inline-block;
}


.widthform
{
    width: 250px;
}

.widthform2
{
    width: 200px;
}
.widthformLittle
{
    width: 75px;
}
.cardSizing
{
    min-height: 280px;
}






























