<main>
    <!-- ESPACE -->
    <div class="espace"></div>

    <!-- PARTIE 1 -->
    <div class="container">

        <div class="row nopadding">

            <div class="item col-md-4 col-mb-5">
                <a href="image/galerie/Galerie-1.png" class="fancybox" data-fancybox="gallery1">
                    <img src="image/galerie/Galerie-1.png" alt="" class="img-fluid bordered">
                </a>
            </div>
            <div class="item col-md-4 mb-4">
                <a href="image/galerie/Galerie-2.png" class="fancybox" data-fancybox="gallery1">
                    <img src="image/galerie/Galerie-2.png" alt="" class="img-fluid bordered">
                </a>
            </div>
            <div class="item col-md-4 mb-4">
                <a href="image/galerie/Galerie-3.png" class="fancybox" data-fancybox="gallery1">
                    <img src="image/galerie/Galerie-3.png" alt="" class="img-fluid bordered">
                </a>
            </div>
        </div>

        <div class="row nopadding">
            <div class="item col-md-4 mb-5">
                <a href="image/galerie/Galerie-4.png" class="fancybox" data-fancybox="gallery1">
                    <img src="image/galerie/Galerie-4.png" alt="" class="img-fluid bordered">
                </a>
            </div>
            <div class="item col-md-4 mb-5">
                <a href="image/galerie/Galerie-6.png" class="fancybox" data-fancybox="gallery1">
                    <img src="image/galerie/Galerie-6.png" alt="" class="img-fluid bordered">
                </a>
            </div>
            <div class="item col-md-4 mb-5">
                <a href="image/galerie/Galerie-7.png" class="fancybox" data-fancybox="gallery1">
                    <img src="image/galerie/Galerie-7.png" alt="" class="img-fluid bordered">
                </a>
            </div>
        </div>
    </div>

    <!-- ESPACE-->
    <div class="espace2"></div>

    <!-- PARTIE 2 -->
    <div class="bg-custom2">
        <div class="container">
            <div class="row nopadding">
                <div class="item col-md-4 mb-4">
                    <a href="img/galerie/Galerie-8.png" class="fancybox" data-fancybox="gallery1">
                        <img src="image/galerie/Galerie-8.png" alt="" class="img-fluid bordered">
                    </a>
                </div>
                <div class="item col-md-4 mb-4">
                    <a href="image/galerie/Galerie-9.png" class="fancybox" data-fancybox="gallery1">
                        <img src="image/galerie/Galerie-9.png" alt="" class="img-fluid bordered">
                    </a>
                </div>
                <div class="item col-md-4 mb-4">
                    <a href="image/galerie/Galerie-10.png" class="fancybox" data-fancybox="gallery1">
                        <img src="image/galerie/Galerie-10.png" alt="" class="img-fluid bordered">
                    </a>
                </div>
            </div>

            <div class="row nopadding">

                <div class="item col-md-4 mb-5">
                    <a href="image/galerie/Galerie-11.png" class="fancybox" data-fancybox="gallery1">
                        <img src="image/galerie/Galerie-11.png" alt="" class="img-fluid bordered">
                    </a>
                </div>
                <div class="item col-md-4 mb-5">
                    <a href="image/galerie/Galerie-12.png" class="fancybox" data-fancybox="gallery1">
                        <img src="image/galerie/Galerie-12.png" alt="" class="img-fluid bordered">
                    </a>
                </div>
                <div class="item col-md-4 mb-5">
                    <a href="image/galerie/Galerie-13.png" class="fancybox" data-fancybox="gallery1">
                        <img src="image/galerie/Galerie-13.png" alt="" class="img-fluid bordered">
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="espace3"></div>
    <!-- PARTIE 3 -->

    <div class="bg-custom3">
        <div class="container">
            <div class="row nopadding">

                <div class="item col-md-4 mb-4">
                    <a href="image/galerie/Galerie-14.png" class="fancybox" data-fancybox="gallery1">
                        <img src="image/galerie/Galerie-14.png" alt="" class="img-fluid bordered">
                    </a>
                </div>
                <div class="item col-md-4 mb-4">
                    <a href="image/galerie/Galerie-15.png" class="fancybox" data-fancybox="gallery1">
                        <img src="image/galerie/Galerie-15.png" alt="" class="img-fluid bordered">
                    </a>
                </div>
                <div class="item col-md-4 mb-4">
                    <a href="image/galerie/Galerie-16.png" class="fancybox" data-fancybox="gallery1">
                        <img src="image/galerie/Galerie-16.png" alt="" class="img-fluid bordered">
                    </a>
                </div>
            </div>
            <div class="row nopadding">
                <div class="item col-md-4 mb-5">
                    <a href="image/galerie/Galerie-17.png" class="fancybox" data-fancybox="gallery1">
                        <img src="image/galerie/Galerie-17.png" alt="" class="img-fluid bordered">
                    </a>
                </div>
                <div class="item col-md-4 mb-5">
                    <a href="image/galerie/Galerie-18.png" class="fancybox" data-fancybox="gallery1">
                        <img src="image/galerie/Galerie-18.png" alt="" class="img-fluid bordered">
                    </a>
                </div>
                <div class="item col-md-4 mb-5">
                    <a href="image/galerie/Galerie-19.png" class="fancybox" data-fancybox="gallery1">
                        <img src="image/galerie/Galerie-19.png" alt="" class="img-fluid bordered">
                    </a>
                </div>
            </div>

        </div>
    </div>


</main>