<div class="espace"></div>


<div class="">
    <div class="container">
        <section class="row nopadding">
            <div class="col-md-4 nopadding ">
                <img src="image/Acceuil/Acceuil-1.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7">

                <h2 class="display-5 red">War Heritage Institute</h2>
                <h3 class="">Notre mission nationale</h3>
                <p >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores exercitationem expedita aliquid, nostrum eveniet dolorum nobis beatae quasi recusandae doloribus sunt magni voluptas, a consequatur id autem optio iste hic officia vel ipsam! Pariatur non perferendis quod nemo blanditiis reprehenderit hic. Obcaecati qui perferendis id possimus at fuga accusamus illum cumque quisquam quae aut ex non sunt, impedit doloribus quaerat iste repellendus deserunt voluptatum aliquid. Vel dignissimos voluptatum unde quaerat libero facilis placeat, doloremque harum dolorum aliquid labore pariatur quas tempore commodi iure numquam, nam cumque saepe dolor, nesciunt ducimus vitae exercitationem. Possimus eum explicabo, sequi illo perferendis nostrum modi quod beatae distinctio enim qui, debitis labore officiis, rerum adipisci accusamus dicta a incidunt! Sunt assumenda eligendi rerum omnis praesentium molestias architecto repudiandae temporibus aut earum, enim amet fuga ducimus placeat dicta tempora, quis possimus! Voluptatum mollitia, nam nisi itaque, laborum facere dolorum est eum praesentium quas vitae, velit error cum ab unde inventore culpa esse magni labore? Officiis quisquam sit nulla fugit rem repudiandae, repellat reiciendis perferendis rerum expedita.</p>
            </div>

        </section>
    </div>
</div>



<div class="espace"></div>
