<div class="espace2"></div>



<div class="bg-custom2">
    <div class="container">
        <section class="row nopadding">

            <div id="carouselExampleIndicators2" class="carousel slide carousel-fade col-md-4 nopadding" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000000">
                        <img src="image/Acceuil/Acceuil-3.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="10000000">
                        <img src="image/Acceuil/Acceuil-2.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="10000000">
                        <img src="image/Acceuil/Acceuil-5.png" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <div class="col-md-1"></div>
            <div class="col-md-7">

                <h2 class="display-5 red">Dernière exposition du musée</h2>
                <h3 class="">Une Belgique occupée</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores exercitationem expedita aliquid, nostrum eveniet dolorum nobis beatae quasi recusandae doloribus sunt magni voluptas, a consequatur id autem optio iste hic officia vel ipsam! Pariatur non perferendis quod nemo blanditiis reprehenderit hic. Obcaecati qui perferendis id possimus at fuga accusamus illum cumque quisquam quae aut ex non sunt, impedit doloribus quaerat iste repellendus deserunt voluptatum aliquid.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis unde omnis, iure facilis sunt saepe eveniet dignissimos blanditiis atque quae commodi ipsam! Odio voluptatum quasi, vitae non hic dolore corporis numquam assumenda ipsa id quidem eum eligendi harum facilis illum vero earum! Necessitatibus quisquam, neque temporibus aliquid provident minima error.</p>
            </div>

        </section>
    </div>
</div>



<div class="espace2"></div>