<div class="espace3"></div>



<div class="bg-custom3">
  <div class="container">

    <div class="row nopadding">
      <div class="col-md-4 nopadding">
        <img src="image/Acceuil/Musée-2.png" alt="" class="img-fluid baw">
      </div>

      <div class="col-md-1"></div>

      <div class="col map-responsive nopadding">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d5995.038519292473!2d4.39094822527326!3d50.84279403226339!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1swar%20heritage%20institute!5e0!3m2!1sfr!2sbe!4v1636331286671!5m2!1sfr!2sbe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>
</div>





<div class="espace3"></div>